body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

form > input, form > button {
    margin-top: 10px;
    padding: 10px;
    width: calc(100% - 22px); /* Considera padding e bordi */
    box-sizing: border-box;
}

@media (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section {
        width: 48%;
    }
}
/* Aggiunto all'interno di style.css */
#salvadanaio {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#salvadanaio form > input, #salvadanaio form > button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
