:root {
    --color-primary: #5D93E1;
    --color-secondary: #FFC107;
    --color-bg: #ffffff;
    --color-bg-dark: #343a40;
    --color-text: #343a40;
    --color-text-dark: #ffffff;
    --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[data-theme="dark"] {
    --color-bg: #343a40;
    --color-text: #ffffff;
    --color-bg-dark: #ffffff;
    --color-text-dark: #343a40;
}

body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 20px;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

header, main {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: var(--color-primary);
}

section {
    background-color: var(--color-bg-dark);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    color: var(--color-text-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}

button {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: darken(var(--color-secondary), 10%);
}

input[type="number"] {
    padding: 10px;
    margin-top: 10px;
    width: calc(100% - 22px);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: var(--color-primary);
}

/* Responsiveness */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header, main {
        width: 100%;
    }
}

/* Aggiunta stili per la modalità scuro */
.toggle-theme {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
